<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>Bay20 Banner Text Element</name>
            <label lang="en">Banner Text</label>
            <label lang="de">Banner Text</label>
            <value>preselection</value>
            <description lang="en">This is the Banner plugin of shopware 5</description>
        </element>
    </elements>
</config>